@import "~bootstrap/scss/bootstrap";

.sidebar{
    background-color: #A8B7EE;
    height: 100vh;

    &__link{
        text-decoration: none;
        color: black;
   
        &__onglet{
            padding: 10px 0;
            border-bottom: 1px dashed white;
            font-size: 19px;
        }
    }
}
