{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}

	<div class="container mt-5 text-center">
    
    <h1>Mon compte</h1>
    <h2 class="mt-4">{{ app.user.prenom }}</h2>

    <p>Email: {{ app.user.email }}</p>
    <p>Nom: {{ app.user.nom }}</p>
    
<a href="{{ path('app_profil_changepassword') }}" class="btn btn-primary">Modifier le mot de passe <i class="fa-solid fa-lock"></i></a>
    
    </div>
{% endblock %}
